.card {
    background-color: rgb(105, 105, 105);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.2);
}

.card__tilte {
    font-size: 1.5rem;
    color: #fff;
    margin: 0.5rem 0;
}

.card__info {
    padding: 1rem;
    color: #fff;
}
.card__poster {
    width: 100%;
    display: block;
}
.card__description {
    font-size: 0.9rem;
    color: #ccc;
    
}   