/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: center;
}

/* Cabeçalho */
h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Formulário */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Botão */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Resultado */
#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Rodapé */

footer {
    color : #fff;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin-top: 10px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}